{% load static %}

<!-- Header -->
<div id="header-wrapper">
  <header id="header" class="container">

    <!-- Logo -->
      <div id="logo">
        <h1><a href="{% url 'acceuil' %}">BRAO2</a></h1>
        <span></span>
      </div>

    <!-- Nav -->
      <nav id="nav">
        <ul>
          <li class="current"><a href="{% url 'acceuil' %}">Acceuil</a></li>
          <li>
            <a href="#">La Région</a>
            <ul>
              <li><a href="#">Lorem ipsum dolor</a></li>
              <li><a href="#">Magna phasellus</a></li>
              <li>
                <a href="#">Phasellus consequat</a>
                <ul>
                  <li><a href="#">Lorem ipsum dolor</a></li>
                  <li><a href="#">Phasellus consequat</a></li>
                  <li><a href="#">Magna phasellus</a></li>
                  <li><a href="#">Etiam dolore nisl</a></li>
                </ul>
              </li>
              <li><a href="#">Veroeros feugiat</a></li>
            </ul>
          </li>
          <li><a href="{% url 'left' %}">Left Sidebar</a></li>
          <li><a href="{% url 'right' %}">Right Sidebar</a></li>
          <li><a href="{% url 'carte' %}">Nos Eglises</a></li>
        </ul>
      </nav>

  </header>
</div>